@page "{id}"
@model DrawClient.Pages.Instructor.Exam.DetailsModel
@{
    Layout = "_LayoutInstructor";
}

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container">
        @if (Model.Exam.Result is not null)
        {
            <a asp-page="/Instructor/Exam/List" asp-route-id="@Model.Exam.Lesson.Id" class="btn btn-outline-secondary mb-5">Back</a>
        }
        else
        {
            <a asp-page="/Instructor/Exam/Grade" class="btn btn-outline-secondary mb-5">Back</a>
        }
        <div class="detail-section">
            <form method="post" class="row">
                <div class="col-md-6">
                    <div class="form-container w-75">
                        <h5 class="form-label mb-2">Course title</h5>
                        <input class="form-control" type="text" placeholder="Course title here..." asp-for="Exam.CourseName" />
                    </div>
                    <div class="form-container w-75">
                        <h5 class="form-label my-2">Content</h5>
                        <input class="form-control" type="text" asp-for="Exam.Lesson.Content" />
                    </div>
                    <div class="form-container w-75">
                        <h5 class="form-label my-2">Student Submission</h5>
                        <img src="@Model.Exam.AnswerUrl" />
                    </div>
                </div>
                <div class="col-md-6 category-option">
                    <div class="card w-75 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                        <div class="card-body">
                            @if (Model.Exam.Result is null)
                            {
                                <form method="post">
                                    <div class="form-container mb-3">
                                        <h5 class="form-label mb-2">
                                            Grade
                                            @if (TempData["ResultError"] is not null)
                                            {
                                                <span class="text-danger">(@TempData["ResultError"])</span>
                                            }
                                        </h5>
                                        <input class="form-control" type="text" asp-for="ExamGrade.Result" />
                                    </div>
                                    <div class="form-container mb-3">
                                        <h5 class="form-label mb-2">Comment (optional)</h5>
                                        <textarea class="form-control mb-2" type="text"
                                              placeholder="Your comment goes here..." rows="8" asp-for="ExamGrade.Comment"></textarea>
                                    </div>
                                    <div class="text-right">
                                        <input type="hidden" asp-for="@Model.Id" />
                                        <!-- Button trigger modal -->
                                        <button type="button" id="toggle-btn" class="btn btn-primary" data-toggle="modal" data-target="#gradingModal">
                                            Grade
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="gradingModal" tabindex="-1" role="dialog" aria-labelledby="gradingModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-left" id="asking-modal">
                                                        Do you confirm to grade this submit with the result
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="form-container mb-3">
                                    <h5 class="form-label mb-2">
                                        Grade
                                    </h5>
                                    <input class="form-control" type="text" asp-for="Exam.Result" readonly/>
                                </div>
                                <div class="form-container mb-3">
                                    <h5 class="form-label mb-2">Comment (optional)</h5>
                                    <textarea class="form-control mb-2" type="text" rows="8" asp-for="Exam.Comment" readonly></textarea>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(() => {
            $("#ExamGrade_Result").on('focusout', () => {
                var textResult = '<span class="text-danger">' + $("#ExamGrade_Result").val() + '</span>'
                $("#asking-modal").html('Do you confirm to grade this submit with the result: ' + textResult)
            })
        })
    </script>
}