@page
@model DrawClient.Pages.Instructor.Exam.GradeModel
@{
    Layout = "_LayoutInstructor";
}

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container">
        <h3 class="mb-5">Ungrade exams</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2">Course</th>
                    <th>Lesson</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Exams)
                {
                    <tr>
                        <td>
                            <img src="@item.ThumbUrl" width="50" height="50"></td>
                        <td>@item.Learner.Information.Name</td>
                        <td>@item.Lesson.Content</td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-page="/Instructor/Exam/Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }

                @if (Model.Exams.Count == 0)
                {
                    <tr>
                        <td colspan="4">
                            <h5>No ungrade exam found.</h5>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>