@page
@model DrawClient.Pages.Customer.Course.IndexModel
@{
    Layout = "_LayoutCourse";
}

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container__course-index" style="margin: 0 auto">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                @* <div class="col-sm-8">
                    <div class="ibox">
                        <div class="ibox-content tbl-exam">
                            <h6 class="tbl-exam">
                                <a class="index-title">
                                    Introduction to Architectural Perspective
                                </a>
                            </h6>
                        </div>
                        <div class="ibox-content">
                            <div class="video-container">
                                <iframe src="@Model.YtbURL"></iframe>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <h6>
                                <a class="text-navy">
                                    Content:
                                </a>
                            </h6>
                            <p class="mt-1"> Dive into the fascinating world of architectural perspective. Understand the principles of linear perspective, vanishing points, and horizon lines. Explore how these concepts form the foundation of architectural drawing.</p>
                        </div>
                    </div> *@
                <div class="col-sm-8">
                    <div class="ibox">
                        <div class="ibox-content tbl-exam">
                            <h6 class="tbl-exam">
                                <a class="index-title">
                                    Introduction to Architectural Perspective
                                </a>
                            </h6>
                        </div>
                        <div class="ibox-content">
                            <div class="image-container">
                                <img src="@Model.ImageURl" alt="Image Description">
                            </div>
                        </div>
                        <div class="ibox-content">
                            <h6>
                                <a class="text-navy">
                                    Content:
                                </a>
                            </h6>
                            <p class="mt-1"> Dive into the fascinating world of architectural perspective. Understand the principles of linear perspective, vanishing points, and horizon lines. Explore how these concepts form the foundation of architectural drawing.</p>
                        </div>
                        <div class="ibox-content">
                            <h6>
                                <a class="text-navy">
                                    Submission:
                                </a>
                            </h6>
                            <form method="post" enctype="multipart/form-data" class="mt-10">
                                <div class="form-group row">
                                    <div class="col">
                                        <input class="form-control" id="imageFile" type="file" asp-for="Image" accept="image/*">
                                    </div>
                                    <div class="col">
                                        <button type="submit" value="Add" id="btnAdd" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="scrollable-content" style="max-height: 1000px; overflow-y: scroll;">
                        <div class="accordion" id="accordionExample">
                            <!-- Your existing card elements go here -->
                            <div class="card">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 1</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 2</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 3</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 1</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 2</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 3</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 1</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 2</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>

                            <div class="card mt-20">
                                <div class="card-header tbl-exam">
                                    <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 3</span>
                                </div>
                                <div class="card-header">
                                    <a href="#" class="lecture-title">
                                        <ul>
                                            <li><span class="head">Introduction to Architectural Perspective</span></li>
                                        </ul>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="col-sm-4">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header tbl-exam">
                                <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 1</span>
                            </div>
                            <div class="card-header">
                                <a href="#" class="lecture-title">
                                    <ul>
                                        <li><span class="head">Introduction to Architectural Perspective</span></li>
                                    </ul>
                                </a>
                            </div>
                        </div>

                        <div class="card mt-20">
                            <div class="card-header tbl-exam">
                                <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 2</span>
                            </div>
                            <div class="card-header">
                                <a href="#" class="lecture-title">
                                    <ul>
                                        <li><span class="head">Introduction to Architectural Perspective</span></li>
                                    </ul>
                                </a>
                            </div>
                        </div>

                        <div class="card mt-20">
                            <div class="card-header tbl-exam">
                                <span class="lecture-section"><i class="bi bi-bookmark-dash-fill"></i> Lecture 3</span>
                            </div>
                            <div class="card-header">
                                <a href="#" class="lecture-title">
                                    <ul>
                                        <li><span class="head">Introduction to Architectural Perspective</span></li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="/css/cart.css">
}