@page
@model DrawClient.Pages.Admin.IndexModel
@{
    Layout = "_LayoutAdmin";
}

<!--====== SEARCH BOX PART START ======-->

<div class="search-box">
    <div class="serach-form">
        <div class="closebtn">
            <span></span>
            <span></span>
        </div>
        <form action="#">
            <input type="text" placeholder="Search by keyword">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div> <!-- serach form -->
</div>

<!--====== SEARCH BOX PART ENDS ======-->
<!--====== SLIDER PART START ======-->

<section id="slider-part" class="slider-active">
    <div class="single-slider bg_cover pt-150" style="background-image: url(images/artist-images/img-artist-1.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Every line tells a story; we'll help you craft your narrative.</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Unlock your creative potential with our drawing educational website. Learn to bring your imagination to life, one stroke at a time.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150" style="background-image: url(images/artist-images/img-artist-2.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Join the sketching revolution - where blank pages become works of art.</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">"Art is a language that transcends words. Learn to speak it fluently on our drawing website.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

    <div class="single-slider bg_cover pt-150" style="background-image: url(images/artist-images/img-artist-3.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Create, inspire, and make your mark on the world.</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Drawing is more than just a hobby; it's a lifelong journey. Begin your adventure with our educational website.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->
</section>

<!--====== SLIDER PART ENDS ======-->
<!--====== CATEGORY PART START ======-->

<section id="category-part">
    <div class="container">
        <div class="category pt-40 pb-80">
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-text pt-40">
                        <h2>Best platform to learn drawing from zero to hero</h2>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                    <div class="row category-slied mt-40">
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-1">
                                    <span class="icon">
                                        <img src="images/all-icon/ctg-1.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Digital</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-2">
                                    <span class="icon">
                                        <img src="images/all-icon/ctg-3.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Paint</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-3">
                                    <span class="icon">
                                        <img src="images/all-icon/ctg-3.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Ink</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-1">
                                    <span class="icon">
                                        <img src="images/all-icon/ctg-3.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Charcoal</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#">
                                <span class="singel-category text-center color-2">
                                    <span class="icon">
                                        <img src="images/all-icon/ctg-1.png" alt="Icon">
                                    </span>
                                    <span class="cont">
                                        <span>Others</span>
                                    </span>
                                </span> <!-- singel category -->
                            </a>
                        </div>
                    </div> <!-- category slied -->
                </div>
            </div> <!-- row -->
        </div> <!-- category -->
    </div> <!-- container -->
</section>

<!--====== CATEGORY PART ENDS ======-->
<!--====== ABOUT PART START ======-->

<section id="about-part" class="pt-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h5>About us</h5>
                    <h2>Welcome to DRAW </h2>
                </div> <!-- section title -->
                <div class="about-cont">
                    <p>Welcome to DRAW - Your Gateway to Artistic Excellence! Our platform is more than just a website; it's a creative sanctuary where aspiring artists, from beginners to advanced, can hone their skills and find inspiration. With a diverse range of expert-led courses, a supportive community of like-minded individuals, and a team of passionate instructors, we're here to guide you on your artistic journey. Unleash your inner artist, explore new techniques, and witness your creativity come to life. Join us today and embark on a path of endless possibilities in the world of drawing. [Your Website Name] - Where Art Meets Imagination!</p>
                    <a href="#" class="main-btn mt-55">Learn More</a>
                </div>
            </div> <!-- about cont -->
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-bg">
        <img src="images/about/bg-1.png" alt="About">
    </div>
</section>

<!--====== ABOUT PART ENDS ======-->
<!--====== VIDEO FEATURE PART START ======-->

<section id="video-feature" class="bg_cover pt-60 pb-110" style="background-image: url(images/artist-images/img-artist-3.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-last order-lg-first">
                <div class="video text-lg-left text-center pt-50">
                    <a class="Video-popup" href="https://www.youtube.com/embed/-f0ym3CtleQ?si=DKk5pcbdBU4WDGev"><i class="fa fa-play"></i></a>
                </div> <!-- row -->
            </div>
            <div class="col-lg-5 offset-lg-1 order-first order-lg-last">
                <div class="feature pt-50">
                    <div class="feature-title">
                        <h3>Our Facilities</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="images/all-icon/f-1.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <h4>Certificate</h4>
                                    <p>Elevate your skills and earn a Certificate of Excellence at DRAW. Show your commitment to art and open doors to new opportunities.</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="images/all-icon/f-2.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <h4>Teacher's Support</h4>
                                    <p>At DRAW, our teachers are your artistic allies. With personalized guidance and unwavering support, they're here to fuel your creative journey.</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="images/all-icon/f-3.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <h4>Vast Knowledge</h4>
                                    <p>At DRAW, knowledge is your superpower. From the basics to advanced techniques, our courses unlock the secrets of art. Start your creative journey with us!</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                    </ul>
                </div> <!-- feature -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="feature-bg"></div> <!-- feature bg -->
</section>

<!--====== VIDEO FEATURE PART ENDS ======-->
<!--====== TEACHERS PART START ======-->

<section id="teachers-part" class="pt-70 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h5>Featured Teachers</h5>
                    <h2>Meet Our Teachers</h2>
                </div> <!-- section title -->
                <div class="teachers-cont">
                    <p>Discover a world of artistic possibilities with our talented team of instructors at DRAW. From seasoned professionals to passionate mentors, our teachers are here to nurture your creativity, guide your hand, and unlock your potential. Join our vibrant community and embark on a journey of self-expression and skill development, with personalized support and comprehensive curriculum. Let our instructors be your artistic compass, helping you explore new horizons in the world of drawing.</p>
                    <a href="#" class="main-btn mt-55">Explore Now</a>
                </div> <!-- teachers cont -->
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="teachers mt-20">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="singel-teachers mt-30 text-center">
                                <div class="image">
                                    <img src="images/teachers/t-8.jpg" alt="Teachers">
                                </div>
                                <div class="cont">
                                    <a href="teachers-singel.html"><h6>Pham Phuc Thanh Cong</h6></a>
                                    <span>Digital Teacher</span>
                                </div>
                            </div> <!-- singel teachers -->
                        </div>
                        <div class="col-sm-6">
                            <div class="singel-teachers mt-30 text-center">
                                <div class="image">
                                    <img src="images/teachers/t-5.jpg" alt="Teachers">
                                </div>
                                <div class="cont">
                                    <a href="teachers-singel.html"><h6>Nguyen Quoc Manh</h6></a>
                                    <span>Ink Teacher</span>
                                </div>
                            </div> <!-- singel teachers -->
                        </div>
                        <div class="col-sm-6">
                            <div class="singel-teachers mt-30 text-center">
                                <div class="image">
                                    <img src="images/teachers/t-6.jpg" alt="Teachers">
                                </div>
                                <div class="cont">
                                    <a href="teachers-singel.html"><h6>Nguyen Ngoc Thinh</h6></a>
                                    <span>Paint Teacher</span>
                                </div>
                            </div> <!-- singel teachers -->
                        </div>
                        <div class="col-sm-6">
                            <div class="singel-teachers mt-30 text-center">
                                <div class="image">
                                    <img src="images/teachers/t-7.jpg" alt="Teachers">
                                </div>
                                <div class="cont">
                                    <a href="teachers-singel.html"><h6>Phan Duc Duy</h6></a>
                                    <span>Charcoal Teacher</span>
                                </div>
                            </div> <!-- singel teachers -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- teachers -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TEACHERS PART ENDS ======-->
<!--====== TEASTIMONIAL PART START ======-->

<section id="testimonial" class="bg_cover pt-115 pb-115" data-overlay="8" style="background-image: url(images/artist-images/img-artist-4.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-40">
                    <h5>Testimonial</h5>
                    <h2>What they say</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-slied mt-40">
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="images/testimonial/t-1.jpg" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>I was blown away by the quality of the courses on DRAW. They're well-structured, easy to follow, and have significantly improved my drawing skills. I highly recommend these courses to anyone looking to elevate their art!</p>
                        <h6>Rubina Helen</h6>
                        <span>Student</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="images/testimonial/t-2.jpg" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>The instructors are top-notch, and the course content is incredibly engaging. I've learned so much in a short time, and I'm already seeing a difference in my work. Thank you, DRAW, for providing such valuable resources.</p>
                        <h6>Mark Ruffalo</h6>
                        <span>Engineer</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="images/testimonial/t-3.jpg" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>I'm a beginner in the world of drawing, and these courses were perfect for me. The step-by-step guidance and supportive community made me feel right at home. I can't wait to continue my learning journey here.</p>
                        <h6>Mia Cockney</h6>
                        <span>House Wife</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
        </div> <!-- testimonial slied -->
    </div> <!-- container -->
</section>

<!--====== TEASTIMONIAL PART ENDS ======-->
<!--====== NEWS PART START ======-->

<section id="news-part" class="pt-115 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-50">
                    <h5>Latest News</h5>
                    <h2>From the news</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="singel-news mt-30">
                    <div class="news-thum pb-25">
                        <img src="images/news/n-1.jpg" alt="News">
                    </div>
                    <div class="news-cont">
                        <ul>
                            <li><a href="#"><i class="fa fa-calendar"></i>2 October 2023 </a></li>
                            <li><a href="#"> <span>By</span> Admin</a></li>
                        </ul>
                        <a href="blog-singel.html"><h3>Tips to be better at drawing</h3></a>
                        <p>Enhance your drawing skills with our expert tips. Whether you're a beginner or an experienced artist, our insights will help you become a better, more confident creator.</p>
                    </div>
                </div> <!-- singel news -->
            </div>
            <div class="col-lg-6">
                <div class="singel-news news-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="news-thum mt-30">
                                <img src="images/news/ns-1.jpg" alt="News">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="news-cont mt-30">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>10 October 2023 </a></li>
                                    <li><a href="#"> <span>By</span> Admin</a></li>
                                </ul>
                                <a href="blog-singel.html"><h3>Intellectual communication</h3></a>
                                <p>Intellectual communication is the skill of conveying complex ideas clearly and engagingly.</p>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- singel news -->
                <div class="singel-news news-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="news-thum mt-30">
                                <img src="images/news/ns-2.jpg" alt="News">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="news-cont mt-30">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>12 October 2023 </a></li>
                                    <li><a href="#"> <span>By</span> Admin</a></li>
                                </ul>
                                <a href="blog-singel.html"><h3>Study makes you perfect</h3></a>
                                <p>One small step to change the world.</p>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- singel news -->
                <div class="singel-news news-list">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="news-thum mt-30">
                                <img src="images/news/ns-3.jpg" alt="News">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="news-cont mt-30">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i>20 October 2023 </a></li>
                                    <li><a href="#"> <span>By</span> Admin</a></li>
                                </ul>
                                <a href="blog-singel.html"><h3>Technology education is evolving</h3></a>
                                <p>Unstoppable evolution of technology bring a unmeasure benefits to online education.</p>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- singel news -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== NEWS PART ENDS ======-->
