@page
@model DrawClient.Pages.Customer.CartModel

<section id="corses-singel" class="pt-20 pb-20 gray-bg">
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>5</strong>) items</span>
                            <h5>Items in your cart</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h5>
                                                    <a href="#" class="text-navy">
                                                        Desktop publishing software
                                                    </a>
                                                </h5>
                                                <p class="prod-description mt-2">
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                                </p>
                                                <dl class="m-b-none mt-4">
                                                    <dt>Teacher: <span class="prod-auth">Nguyen Ngoc Thinh</span></dt>
                                                </dl>
                                                <div class="m-t-sm">
                                                    <a href="#" class="remove-prod"><i class="fa fa-trash"></i> Remove item</a>
                                                </div>
                                            </td>
                                            <td>
                                                <s class="text-muted">$230,00</s>
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h5>
                                                    <a href="#" class="text-navy">
                                                        Desktop publishing software
                                                    </a>
                                                </h5>
                                                <p class="prod-description mt-2">
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                                </p>
                                                <dl class="m-b-none mt-4">
                                                    <dt>Teacher: <span class="prod-auth">Nguyen Ngoc Thinh</span></dt>
                                                </dl>
                                                <div class="m-t-sm">
                                                    <a href="#" class="remove-prod"><i class="fa fa-trash"></i> Remove item</a>
                                                </div>
                                            </td>
                                            <td>
                                                <s class="text-muted">$230,00</s>
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h5>
                                                    <a href="#" class="text-navy">
                                                        Desktop publishing software
                                                    </a>
                                                </h5>
                                                <p class="prod-description mt-2">
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                                </p>
                                                <dl class="m-b-none mt-4">
                                                    <dt>Teacher: <span class="prod-auth">Nguyen Ngoc Thinh</span></dt>
                                                </dl>
                                                <div class="m-t-sm">
                                                    <a href="#" class="remove-prod"><i class="fa fa-trash"></i> Remove item</a>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h5>
                                                    <a href="#" class="text-navy">
                                                        Desktop publishing software
                                                    </a>
                                                </h5>
                                                <p class="prod-description mt-2">
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                                </p>
                                                <dl class="m-b-none mt-4">
                                                    <dt>Teacher: <span class="prod-auth">Nguyen Ngoc Thinh</span></dt>
                                                </dl>
                                                <div class="m-t-sm">
                                                    <a href="#" class="remove-prod"><i class="fa fa-trash"></i> Remove item</a>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h5>
                                                    <a href="#" class="text-navy">
                                                        Desktop publishing software
                                                    </a>
                                                </h5>
                                                <p class="prod-description mt-2">
                                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                                                </p>
                                                <dl class="m-b-none mt-4">
                                                    <dt>Teacher: <span class="prod-auth">Nguyen Ngoc Thinh</span></dt>
                                                </dl>
                                                <div class="m-t-sm">
                                                    <a href="#" class="remove-prod"><i class="fa fa-trash"></i> Remove item</a>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <a href="#"><i class="bi bi-arrow-bar-left"></i> Continue shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cart Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Total
                            </span>
                            <h2 class="font-bold mt-1">
                                $390,00
                            </h2>
                            <hr>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a href="#" class="main-btn"><i class="bi bi-bag-check-fill"></i> Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">
                            <h5><i class="fa fa-phone"></i> 321 325 5678</h5>
                            <span class="small mt-1">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="/css/cart.css">
}